<div class="viewport">
  <aside class="sidebar" aria-label="Navegación principal">
    <header class="sidebar__header">
      <a href="#" class="sidebar__header-link" aria-label="Enlace a la página principal">MyBank</a>
    </header>
    <nav class="sidebar__nav" aria-label="Menú principal">
      <ul class="nav sidebar__nav-list">
        <li class="sidebar__nav-item">
          <a routerLink="/app/dashboard" class="sidebar__nav-link" aria-label="Ir a Dashboard">
            <span class="zmdi zmdi-view-dashboard sidebar__nav-icon" aria-hidden="true"></span>
            Dashboard
          </a>
        </li>
        <li class="sidebar__nav-item">
          <a routerLink="/app/users" class="sidebar__nav-link" aria-label="Ir a Usuarios">
            <span class="zmdi zmdi-account sidebar__nav-icon" aria-hidden="true"></span>
            Usuarios
          </a>
        </li>
      </ul>
    </nav>
  </aside>
</div>