.alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 5px;
  width: auto;
  max-width: 400px;

  position: fixed;
  top: 12%;
  right: 20px;
  z-index: 9999;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  transition: all 0.3s ease-in-out;

  &__title {
    color: #fff;
    font-size: 0.8rem;
  }
  &--success {
    background-color: #5aac46;
  }
  &--error {
    background-color: red;
  }
  &__close-button {
    background-color: transparent;
    border: none;
    color: #eee7e7;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    margin-left: 9px;
  }
}
